# Virtual Environment & Upstream Git Repos
.venv/
.upstream/


# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Logs
*.log